.intro-text p {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.6s ease forwards;
}

.intro-text p:nth-child(1) { animation-delay: 2.5s; }
.intro-text p:nth-child(2) { animation-delay: 3.5s; }
.intro-text p:nth-child(3) { animation-delay: 4.5s; }


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

